.menubar {
    background-color: lightskyblue;
    padding: 1em;
    border: solid thin black;
}

.login {
    float: right;
    margin-left: 15px;
    margin-top: 25px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-color: brown;
    background-color: rgb(66 135 245);
    padding: 1em;
}

pre.language-json {
    font-size: 20px;
}

menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}

h1 {
    color: blue;
    font-size: 48px;
    text-align: center;
}

h2 {
    color: dodgerblue;
    font-size: 36px;
    text-align: center;
}

html {
    font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
